<mat-card class="chat-screen">
  <mat-card-header (click)="info('header')" matRipple [matRippleCentered]=true>
    <img mat-card-avatar src="http://placehold.it/50/FA6F57/fff&text={{chatItem.name[0].toUpperCase()}}" alt="Avatar" class="header-img" />
    <mat-card-title>{{chatItem.name}}</mat-card-title>
    <mat-card-subtitle>{{onlineStatusText}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content [ngStyle]="{width: 'fit-content'}">
    <ng-container *ngIf="isWait === true">
      <mat-spinner></mat-spinner>
    </ng-container>
    <div *ngIf="Chats.length === 0; else chatBody">
      No chats available
    </div>
    <ng-template #chatBody>
      <div (scroll)="scrolled($event)" #scrollframe class="chat-screen-body">
        <mat-chip-list class="message-list">
          <div *ngFor="let c of Chats; let i = index" class="chat-message" #item>

            <div *ngIf="isprevMsgFromOtherDay(i)" class="date-divider">
              <mat-chip color="accent" selected removable="false">
                {{c.Message.createdAt | date}}
              </mat-chip>
            </div>

            <div *ngIf="c.Message.owner == 1" class="admin-message">
              <mat-chip color="primary" selected removable="false">
                {{c.Message.text}}
              </mat-chip>
            </div>
    
            <div *ngIf="c.Message.owner == chatItem.userId" class="right-message-box">
                <mat-card style="background-color: #616161;">
                  <mat-card-header>
                    <button mat-icon-button (click)="info('message', c.Message)">
                      <mat-icon>info</mat-icon>
                    </button>
                    <mat-card-subtitle>{{c.Message.createdAt | date:'shortTime'}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content style="display: inline-flex; flex-direction: column; width: 100%;">
                  <span style="overflow-wrap: break-word;">{{c.Message.text}}</span>
                  <span *ngIf="c.Message.isEdited == 1">Edited</span>
                </mat-card-content>
              </mat-card>
            </div>

              <div *ngIf="c.Message.owner != 1 && c.Message.owner != chatItem.userId" class="left-message-box">
                <mat-card matRipple style="background-color: #616161;">
                  <mat-card-header>
                    <img *ngIf="!isPrevSameAuthor(i)" mat-card-avatar src="http://placehold.it/50/FA6F57/fff&text={{c.Message.User.firstName[0].toUpperCase()}}" alt="User Avatar" width="50px" class="user-img" />
                    <mat-card-title *ngIf="!isAuthorSame" style="font-size: 16px;">
                      {{c.Message.User.firstName + ' ' + c.Message.User.lastName}}
                    </mat-card-title>
                    <mat-card-subtitle>{{c.Message.createdAt | date:'shortTime'}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content style="display: inline-flex; flex-direction: column; width: 100%;">
                    <span style="overflow-wrap: break-word;">{{c.Message.text}}</span>
                    <span *ngIf="c.Message.isEdited == 1">Edited</span>
                  </mat-card-content>
                </mat-card>
              </div>

          </div>
        </mat-chip-list>
      </div>
    </ng-template>
  
    <mat-card-actions class="chat-footer">
      <ng-container *ngIf="chatItem.isChatable; else blockedText">
        <form (ngSubmit)="sendMessage()" #msgForm="ngForm">
          <div class="input-group">
            <input type="hidden" [(ngModel)]="msgData.room" name="room" />
          <input type="hidden" [(ngModel)]="msgData.userId" name="userId">
          <mat-form-field appearance="outline" [ngStyle]="{padding: '0'}">
            <input matInput [(ngModel)]="msgData.message" name="message" autocomplete="off" placeholder="Type your message here..." required>
          </mat-form-field>
          <span class="input-group-btn">
            <button type="submit" id="sendBtn" mat-flat-button color="accent" [disabled]="!msgForm.form.valid">
              Send
            </button>
          </span>
        </div>
      </form>
      </ng-container>
      <ng-template #blockedText>
        <div class="chat-footer-info">
          You are no longer chat with the person!
        </div>
      </ng-template>
    </mat-card-actions>
  </mat-card-content>
  
</mat-card>