.chat-screen {
    height: 100%;
}

.chat-screen-body {
    position: absolute ;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 152px;
    padding-right: 2%;
    padding-left: 3%;
}

.chat-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 3%;
    padding-bottom: 0;
    padding-top: 0;
}

.chat-footer-info {
    background-color: #424242;
    text-align: center;
}

.input-group {
    background-color: #424242;
}

.mat-form-field {
    width: 100%;
}

.chat-message {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#sendBtn {
    height: 50px;
}

.input-group-btn {
    vertical-align: baseline;
}

.date-divider {
    align-self: center;
}

.admin-message {
    align-self: center;
}

.right-message-box {
    align-self: flex-end;
    padding-bottom: 1%;
    margin-right: 1%;
}

.left-message-box {
    align-self: flex-start;
    padding-bottom: 1%;
}

/* Track */
::-webkit-scrollbar-track {
    margin-bottom: 153px;
}
