<div class="content" style="color: white;">
    
    <button mat-icon-button routerLink="../home" routerLinkActive="active">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <p style="color: white;  font-size: 65px;  font-weight: bold;
    color: black; text-align: center; "><b>About Us</b></p>


    <h5 style="padding-left: 150px; padding-right: 150px; text-align: center;  font-weight: bold;">
        Chatting is the method of using technology to bring people and ideas
        together despite of geographical barriers. The technology has been
        available for years but the acceptance it was quite recent. Our
        project is an example of CHAT UI.
        <br><br>
        It is made up of- the client application, which runs on
        users device and server application which runs on any device on the network.
        <br><br>
        To start chatting client should get connected to the server where
        they can provide two kinds of chatting, the group chat (between multiple
        users) and the private chat (between any two users).
    </h5>


    <br>
    <hr size="10" width="100%" color="black">
    <br>

    <div class="contain">
        <div class="left-half">
            <article>
                <h1 style="color: black; font-weight: bold;"><u><b> Features of the Application</b></u></h1>
                <ul>
                    <li>Real time relay messaging app</li><br>
                    <li>Single user chat and group chat</li>
                </ul>

            </article>
        </div>
        <div class="right-half">
            <article>
                <h1 style="color: black; font-weight: bold;"><u><b>Technologies Used</b></u></h1>
                <ul>
                    <li>Angular</li>
                    <li>Node</li>
                    <li>NPM</li>
                    <li>GIT</li>
                    <li>Angular CLI</li>
                    <li>Visual studio code</li>
                    <li>Socket IO</li>
                    <li>Express</li>
                    <li>Sequelize</li>
                    <li>Sequelize CLI</li>
                    <li>SQLite</li>
                    <li>Material Design for Bootstrap</li>
                </ul>

            </article>
        </div>
    </div>

    <hr size="10" width="100%" color="black">
    <div class="sign">
        <p style="font-size:40px; font-weight: bold;">Hope You Had an Amazing Chatting Experience!!!
            <br><br>Thank You <img src="assets\images\smile.gif" width=60 height=60>
        </p>
    </div>
</div>
