.card {
  margin: 2%;
  text-align: -moz-center;
  background: #8e70e2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #6A82FB, #875cfc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #6A82FB, #875cfc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mat-card-subtitle, .mat-card-content {
  font-size: 16px;
}

.register-content {
  text-decoration-color: black;
}

.register-content mat-label {
  color: blue;
}

.register-content mat-hint {
  color: red;
}

.mat-card-content {
  width: inherit;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}
  
.mat-flat-button {
  margin: 10px 0px;
  /* width: 100%; */
  color: white;
  background-color: brown;
  height: 40px;
}
