<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="mat-elevation-z4">
            <nav>
                <span><a routerLink="/home" routerLinkActive="active">CHAT APPLICATION</a></span>
                <span class="div-spacer"></span>
                <span><a routerLink="/register" routerLinkActive="active">REGISTER</a></span>
                <span><a routerLink="/login" routerLinkActive="active">LOGIN</a></span>
                <span><a routerLink="/" routerLinkActive="active">USER</a></span>
            </nav>

        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>