.home-body {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-nav {
  height: 100%;
}

.login-register {
  /* align-self: center; */
  padding: 16px;
  margin-top: 2%;
  margin-left: 30%;
  border-radius: 8px;
  width: 30%;
}

#toggleCard{
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 2%;
  color: white;
  /* height: 40px; */
}