<div class="home-body">
  <div *ngIf="isLogin; else loginRegister" class="chat-nav">
    <app-chat-nav [userId]="userId" (logoutEvent)="logout()"></app-chat-nav>
  </div>
  <ng-template #loginRegister>
    <div class="login-register mat-elevation-z4">
      <div *ngIf="toggle">
        <app-login (loginEvent)="login($event)"></app-login>
      </div>
      <div *ngIf="!toggle">
        <app-register (loginEvent)="login($event)"></app-register>
      </div>
      <div id="toggleCard">
        Have your account?
        <button (click)="onToggleCard()" mat-button color="accent">{{toggle ? 'Register' : 'Login'}}</button>
      </div>
      </div>
  </ng-template>
</div>